/*     */
/*major parts*/
/*     */
body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
p{
  color: #8f8f8f;
  margin: auto;
}


/*         */
/* Heading */
/*         */
#title{
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

.container-fluid{
  padding: 7% 15% ;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.mock-img{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

.big-heading{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/*        */
/* Navbar */
/*        */
.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.navbar{
  padding-left: 0;
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-style: 'Montserrat', sans-serif;
}


/*          */
/* Features */
/*          */
#features{
  background-color: #fff;
  position: relative;
}
.info-icon{
  color: #ef8172;
  padding-bottom: 10px;
}
.info-icon:hover{
  color: #ff4c68;
}
.feature-column{
  padding: 29px 0;
}
.sub-text{
  width: 70%;
}

.feature-md-text{
  font-weight: 900;
  font-size: 1.5rem;
}

/*                     */
/* Testimonial section */
/*                     */
#testimonials{
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


.testimonial-text{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}


/*         */
/* Pricing */
/*         */
#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.pricing-btn{
  margin-top: 10px;
}

.card-body{
  line-height: 2;
}

.price-text{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}


/*                */
/* Call to Action */
/*                */
#cta{
  background-color: #ff4c68;
  padding: 3% 5% 5%;
}

.cta-h3{
  font-family: Montserrat, 'sans-serif';
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  width: 70%;
  margin: auto;
  padding: 25px 0;
}

.cta-btn{
  margin: 30px 15px 10px;
}



/*        */
/* Footer */
/*        */
.social-icon{
  display: inline-block;
  padding: 10px 10px 20px;
}

#footer{
  padding: 3% 0 1%;
}



/*        */
/* MOBILE */
/*        */
@media (max-width:990px){
  .mock-img{
    position: static;
    transform: rotate(0deg);
    width: 40%;
  }
  #title{
    text-align: center;
  }
}
